menu "Shared PM Device Modules"

config SHARED_PM_DEVICE_MODULES
	bool "Enable Shared PM Device Module"
	default y if PM_DEVICE
	help
	  Enable power management routines for shared peripherals such as I2C and Console.

if SHARED_PM_DEVICE_MODULES

config SHARED_PM_I2C_ENABLE
	bool "Enable I2C Power Management"
	default y
	help
	  Enable suspend/resume handling for I2C device.

config SHARED_PM_CONSOLE_ENABLE
	bool "Enable Console Power Management"
	default y
	help
	  Enable suspend/resume handling for Console.

endif # SHARED_PM_DEVICE_MODULE

endmenu
